{% extends "layout.html" %}
{% block content %}
   <div class="about">
     <h1>About Us</h1>
     <p>50 Lafayette Street San Francisco. nuff said</p>
       <img src="https://lh3.googleusercontent.com/8A3VHFDYKA9A5qk6xI0T4ubKGDtHiLaYOEkXzmObjb2GxDUEYwAGf2K18T1cKYJhD4pMtrf-UyGqui4CHxXwik7P_d53pEPMrUTUWDh3779xC9JbDG6bButR0fy5egWzJ8PoakUp2WsK63RsPZxAPYCe6l7Xjbi7fDqy4E3RIlIfpRe6tenhSrvoqsCJb5_fOV9VMMrwfuNANc1DXOxSpOEKO0PmPDnAJmYWvE_o0EcuECIkVtn7SdWdCLc7HvZtYtFGuhYOWF0ySbldGjNFWDva5BKj7_QOudaq5nuM83UOZywdy6yUaiCdDEYL3lxPBsHqc_16Su929-uwkr8CASgF4XAO60VXI0vYK-OVzGDBQZ7hZCH0hOZ3neKSaUIh2Jy1r8ji0KHaTdpVwq8S-VU-UGyBB_z3IZN8WTeCXp3e9r6oJNoBXpCYXyFxkcA6VMFJ2FcN57TJKBTeS7NvT8EhRnKf7ZReUHDc-Am6gYxO-wA4huJz6-gL9XR2t2IuVdEboJHhTmjX_Fa-EZbSPsTnlgGZf3PxpzA2oP9AseAahza_E1vbjpz-5m35xsM6xpOXC-wy_D0RTY5MZAcRK8Z0LJUOOZTaXLfRcBeHYslsdQstelJPLVU32efUWY4I2-W-QgosE_CeCj2GuYDLQ5BGDecfz10QQ0w4yaN2IVrp6pkc_t7IY8-rCOqItQ=w575-h766-no?authuser=1" alt="Fitty"">
   </div>
 {% endblock %}