{% extends "layout.html" %}
{% block content %}
   <div class="contact">
     <h1>Contact Info</h1>
     <p>forms</p>
     <img src="https://lh3.googleusercontent.com/k8y7Ao2PACmU2xJd3vjxGXGLb27zON5OFm0Q1e3X5SHWHBzPQOTtJmO7j0afU-rqv-IQvauGWst1g8VZO8WfP0LiTEOMg-u8EeGaHvTItHC3eYG4Sc5-tNLI5aYni6WNeZYNWxiJafx7Icfdq5vpCnuuViLnGhxvc5_QWYFs6wvFMv_iQlZ5KC1bLoPDyZ0EaMAOtOVO13x1NtFGIHwjZvGP3LvPZSt7wRdq3LCdxWk-PmSRZN3xsw4rkN0aska8lrdm55z0m6Iu5zthe7dvOaKx5G1No0Om4H7j4sxIRCnqM75N9ExVz6fTuwV2GZChmo-9QYjM9Nh2nxhHpr8j2XG4SjcbobBHAzHf55InyD3iQuyxqia-8IuMEuaOE8j-xQrB2RQTSqHWgGGOkDCKH66nTm2Hcu0qsK4zhXghLB-Xfu6_7qIujcW2B9wVUx4PrVx7UWfs6tqiYk0v8qbnkNZD2S3D5RrEwFEJ5kZuk19zhtDevxmuANPGRk7Jka7PwJdYa7eE1EfSj26lHb2J0ir4FKH4B4KlUhSI9yL__ePuEr6i2uKHtBMw4bjdj90ezqBlWBUYqHY2TLA6XcdqdeiD9dQVOgEw-c9jLbn2HSVr42vXY2UhZ1dTvr46ixvMwCt2bQoOs43pmGOE7dfT7JF3yAc-s-gS8QA5BREyLAk8IAPLBREpE9F-vmFbqg=w796-h766-no?authuser=1" alt="Darling in the Franxx"">
   </div>
 {% endblock %}